.header-about {
    color: #FFA500;
    padding: 5px;
    margin-top: 58px;
    font-size: 70px;
    text-align: left;
    font: "Poppins", 'normal';
    position: relative;
}

.logo-about {
    margin-top: 70px;
    background: #F1F7FF;
    border-radius: 50%;
    margin-left: 80px;
    margin-bottom: 100px;
}

.title-about {
    margin-top: 70px;
    font-size: 20px;
    text-align: left;
    font: "Poppins", 'normal';
}

.content-about {
    margin-bottom: 100px;
    font-size: 18px;
    text-align: left;
    font: "Inter", normal;
}