.destinasi .card{
    border:none;
}

.content-logo {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.icon-news, .icon{
    object-fit: contain;
}


.home-title {
    color: #FFA500;
    font-weight: 500;
    font-size: 20px;
}

.mt-5 h3{
    color: #FFA500;
}