.content-logo {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.tips1 .card{
    border:none;
}

.tips2 .card{
    border:none;
    padding-bottom: 50px;
}

.icon-news, .icon{
    object-fit: contain;
}

.container-title-package {
    padding-top: 50px;
    color: #FFA500;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}   

.card-title-package {
    color: #CC5500;
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.card-subtitle-package {
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
